body {
  padding: 0;
  margin: 0;
}
.bg-image 
    {
    background-image: url(jpg/bg.png) ;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size:100% 100%;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
    }
    li{
        padding: 0px 13px;
    }
    li a {
      font-size: 16px;
    }
  
    ul {
      margin-top: 20px;
      margin-left: 1.8rem;
    }
    @media (max-width: 990px) {
      .navbar ul {
        margin-right: 0.99rem;
      }
    }

  .sing-up {
    padding: 5px 15px;
    background-color: rgb(237, 122, 17);
    cursor: pointer;
    width: 100px;
  }
.log-in {
    padding: 8px 15px;
    margin: 0px 5px 0px 0px;
    cursor: pointer;
    border: 1px rgb(237, 122, 17) solid;
    width: 100px;
}
.mt-3 {
  margin-left: 10%;
}

@media (max-width: 990px) {
  .mt-3 {
    margin-left: 2.5rem;
  }
}

.log-in:hover {
  background-color: rgb(237, 122, 17) ;
  transition: 3s;
}
.navbar-brand {
  display: flex;
  padding-left: 3%;
  float: right;
  right: 10rem;
}
/* navbar end==================== */

.grow {
  padding-left: 10px;
  color: rgb(237, 122, 17);
}
.best {
  font-weight: bold;
  font-size:5vw;
  color: rgb(53, 78, 92);
}
.h-content {
  display: flex;
  justify-content: center;
  padding-left: 2vw;
}
.colum2 {
  width: 56%;
}
 .colum1 {
  padding-left: 1em;
  margin-top: 5.5vw;
} 
.mini-text {
  font-size: 1.7vw;
  bottom: 20vw;
  color: rgb(20, 20, 184);
  padding-left: 2.2%;
}
.icon {
  position: absolute;
  float: inline-end;
  left: 13.3rem;
  bottom: calc(16%);
  color: rgb(237, 122, 17);
  padding: 2%;
  background-color: white;
}
.email {
  border: 1px solid rgb(237, 122, 17);
  background-color: rgb(237, 122, 17);
  padding: 3%;
  margin-left: 1.5%;
  width: 90%;
  color: aliceblue;
}
/* container everything start =========*/
.everything {
  background-color: white;
  padding: 0px 0px 20px 0px;
}
.everything-b {
  margin-top: 130px;
  margin-bottom: 130px;
}
.g-img {
  bottom: 10rem;
}
.g-img {
    position: relative;
    bottom: 1.3rem;
    margin-left: 2.6rem;
}
.group-icon {
  background-size:100% 100%;
  width: 90%;
}
@media screen and (min-width: 990px) {
  .g-img {
    bottom: 3rem;
}
}
@media screen and (min-width: 920px; max-width: 1920px;) {
  .g-img {
    bottom: 3rem;
}
}
.text-every {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: rgb(53, 78, 92);
}
.lorem-every {
  color: rgb(93, 111, 123);
  text-align: center;
}
.complete {
  width: 330px;
  height: 175px;
  background-color: rgb(236, 243, 255);
  margin: 15px;
}
.happy {
  width: 330px;
  height: 175px;
  background-color: rgb(234, 251, 240);
  margin: 15px;
}
.support {
  width: 330px;
  height: 175px;
  background-color: rgb(255, 248, 235);
  margin: 15px;
}
.row {
  display: flex;
  justify-content: center;
}
.cotent {
  width: 70%;
  padding: 0;
  margin-bottom: 28px;
}
.cotent .row {
  display: flex;
}

.c-150 {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-top: 1.8rem;
  color: rgb(66, 136, 255);
}
.h-16k {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-top: 1.8rem;
  color: rgb(46, 213, 102);
}
.s-90 {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-top: 1.8rem;
  color: rgb(251, 185, 53);
}

.project-l {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 19px;
  color: rgb(93, 111, 123);
}
.project-l {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 19px;
  color: rgb(93, 111, 123);
}
.project-l {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 19px;
  color: rgb(42, 78, 102);
}
/* service================ */
.section {
  background-color: rgb(245, 246, 247);
  height: auto;
  /* margin: 130px 0px 130px 0px; */
}
.text-service {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: rgb(53, 78, 92);
}
.content2 .row {
  display: flex;
  justify-content: center;
}

.service {
  padding: 130px 0px 130px 0px;
}
.box1 {
  background-color: white;
  text-align: center;
  width:246px;
  height:246px;
  margin: 16px;
  padding: 30px 0px 0px 0px;
  box-shadow: 5px 5px 10px  lightgray;
}
.box2 {
  background-color: white;
  text-align: center;
  width:246px;
  height:246px;
  margin: 55px 0px 0px 0px;
  padding: 30px 0px 0px 0px;
  box-shadow: 5px 5px 10px  lightgray;
}
.box3 {
  background-color: white;
  text-align: center;
  width:246px;
  height:246px;
  margin: 19px;
  padding: 30px 0px 0px 0px;
  box-shadow: 5px 5px 10px  lightgray;
}
.box4 {
  background-color: white;
  text-align: center;
  width:246px;
  height:246px;
  margin: 55px 0px 0px 0px;
  padding: 30px 0px 0px 0px;
  box-shadow: 5px 5px 10px  lightgray;
}


.header1 {
  position: relative;
  left: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: rgb(255, 174, 98);
  background-color: rgb(255, 245, 235);
}
.header2 {
  position: relative;
  left: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: rgb(109, 155, 241);
  background-color: rgb(236, 242, 253);
}
.header3 {
  position: relative;
  left: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: rgb(86, 189, 173);
  background-color: rgb(229, 245, 243);
}
.header4 {
  position: relative;
  left: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: rgb(247, 123, 159);
  background-color: rgb(254, 238, 243);
}

/* frequently=============== */
.frequently {
  margin: 130px 0px 130px 0px;
  justify-content: center;
}
.box {
  display: flex;
  align-self: center;
  justify-content: center;
  padding-top: 40px;
  margin: 0;
}
.form-box {
  padding: 5px;
  background-color: white;
}
.form-box input {
  font-size: 18px;
  color: black;
  padding: 10px 10px;
  /* padding: 15px 10px; */
  border: none;
  outline: none;
  background-color: white;
}
.form-box button {
  color: white;
  padding: 10px 15px;
  /* padding: 15px 20px; */
  font-size: 20px;
  border: none;
  background-color: rgb(237, 122, 17);
  cursor: pointer;
  transition: .3s;
}
.black-img > img {
  width: 95%;
}
.black-img {
  position: relative;
    left: 4%;
    width: 99%;
    height: 100%;
    background-size:100% 100%;
}
.content3 {
  background-color: rgb(237, 122, 17);
  width: 95%;
  text-align: center;
}
.frequently .content3 {
  margin-left: 4%;
  margin-top: 130px;
  padding: 50px 20px 50px 20px;
  height: 60vh;
}
@media screen and (max-width: 900px) {
  .frequently .content3 {
    height: 70vh;
  }
}
.text-frequently {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: rgb(53, 78, 92);
  margin-top: 20px;
}
.text-subscribe {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  color: white;
}
.subscribe-lorem {
  color: white;
  text-align: center;
  margin-top: 20px;
}
.lorem-freqently {
  color: rgb(93, 111, 123);
  text-align: center;
  margin: 20px;
}
.last-input {
  color: rgb(93, 111, 123);
  width: 60%;
  padding: 15px 10px 15px 10px;
  margin-top: 20px;
}
.c-big {
  font-size: 19px;
  font-weight: 700;
  color: rgb(53, 78, 92);
}
.c-small {
  color: rgb(93, 111, 123);
}
.cross {
  margin-left: 4%;
  box-shadow: 5px 5px 10px  rgb(233, 228, 228);
  padding: 15px 15px 15px 15px;
  width: 95%;
  font-size: 19px;
}
.fa-sharp {
  color: red;
}
  .c-flex {
    display: grid;
    grid-template-columns: 90%;
}
  .p-flex {
    display: grid;
    grid-template-columns: 90%;
}
.c-small{
    grid-row: 1/span 2;
}
.c-circle{
  text-align: center;
    grid-column: 3/span 8;
}


.p-small{
    grid-row: 1/span 2;
    align-self: center;
    font-weight: 700;
}
.p-circle{
    text-align: center;
    grid-column: 3/span 8;   
} 
.plass {
  border: 1px solid;
  margin-left: 4%;
  width: 95%;
  margin-top: 20px;
  padding: 15px;
  font-size: 19px;
}
.fa-circle-plus {
  color: rgb(237, 122, 17);
}
.rwo {
  display: flex;
  flex-wrap: wrap;
}

/* footer========== */

.footer .row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3%;
  padding: 80px 0;
  width: 96%;
}
.footer-col ul {
  list-style: none;
  position: relative;
  right: 70px;
}
.footer-col {
  width: 20%;
  padding: 0 px;
}
.footer-col h4 {
  font-size: 18px;
  color: rgb(53, 78, 92);
  text-transform: capitalize;
  margin-bottom: 15px;
  font-weight: 500;
  position: relative;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: rgb(53, 78, 92);
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: rgb(229, 118, 16);
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: rgb(244, 234, 224);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 30px;
  color: rgb(229, 118, 16);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.footer-col .social-links a:hover {
  color: rgb(244, 234, 224);
  background-color: rgb(229, 118, 16);
}
@media (max-width: 957px) {
  .footer-col {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 757px) {
  .footer-col {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 547px) {
  .footer-col {
    width: 100%;
  }
}
.text-mid li a {
  font-size: 15px;
  line-height: 10px;
}
.text-mid li a img {
  width: 150px;
  vertical-align: middle;
  border: 0;
}
.navbar-toggler-icon {
  background-color: rgb(229, 118, 16);
  color: aquamarine;
}
footer {
  background-color: rgb(245, 246, 247);
}
.footer-area .newsletter .subscribe button {
  border: none;
  position: absolute;
  top: 12px;
  right: 12px;
  background: linear-gradient(225deg, #CB50E4 0%, #6B45DD 100%);
  border-radius: 5px;
  padding: 5px 13px;
}
